.response-area {
  margin-top: 2rem;
  text-align: left;
  background-color: #242424;
  padding: 1rem;
  border-radius: 8px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.input {
  margin-bottom: 10px;
  height: 45px;
}

.url {
  margin-bottom: 5px;
}

.card {
  display: flex;
  flex-direction: column;
}